html {
  height: 100%;
  width: 100%;
}

body {
  font-size:20px;
  background-color: #f2f0e6;
}

.nav {
  background-color: #f7c8ed;
  display:flex;
  justify-content:space-evenly;
  padding: 10px;
  border: 5px inset #f7c8ed;
}

.credits {
  background-color: #f7c8ed;
  display:flex;
  justify-content:space-evenly;
  padding: 10px;
  margin-bottom:10px;
  border: 5px inset #f7c8ed;
}


.title {
  text-align:center;
  padding: 5px;
  font-family: 'Rubik Gemstones', cursive;
}

.desc {
  text-align:center;
  padding: 5px;
}

.desc{
  padding-right:200px;
  padding-left:200px;
  font-family:'Courgette', cursive ;
  color: #993361;
}

.startHere {
  display:flex;
  justify-content:space-evenly;
  padding-bottom: 20px;
  border-radius:1000px;
}

.rats > *{ 
  display:flex;
  justify-content: center;
  margin: auto;
  width: 400px;
  height: 400px; 
  object-fit:cover;
  border-style: solid;
  border-color: #fff;
  border-radius: 50px;
  border-width: 10px;
} 

.groupPhoto {
  display:flex;
  justify-content: center;
  height: 100%;
  margin:auto;
  padding-top:10px;
  object-fit:cover;
}

.curtis > *{
  display:flex;
  justify-content: center;
  margin:auto;
  object-fit:cover;
  padding-top:10px;
}

.buttons { 
  display:flex;
  justify-content:space-evenly;
  margin: 10px;
  font-size:15px;
}

button {
  font-size:20px;
  background-color: #f5f5f5;
  transition-duration: 0.4s;
  font-family: 'Rubik Gemstones', cursive;
  color: #993361;
}

button:hover {
  background-color: #ffe0f1;
}

.center{
  text-align:center;
}

/*make links have no underline*/
a:link { 
  color: #993361;
  text-decoration: none;
}
a:visited { 
  color: #993361; 
  text-decoration: none;
}
a:active { 
  color: #a22b2b; 
  text-decoration: none; 
}

.link:link{
  color: #ff14c0;
  text-decoration: underline
}
.link:visited{
  color: #d1159f;
  text-decoration: underline
}
.link:active{
  color: #ff14c0;
  text-decoration: underline
}
.link:hover{
  color: #ff14c0;
  text-decoration: underline
}

.likeRats{
  background-image: url("/images/like-rats-background.jpg");
}

.madeByLink:link{
  text-decoration: underline;
}

.likeRatsText{
  background-color:white;
}